<div class="main-background">
  <app-banner />
  <div class="weather-card w-3/5" [ngClass]="getCssGlass()">
    <app-card>
      <card-title [ngClass]="getCssGlass()">
        <app-search></app-search>
      </card-title>

      @if (weatherData()['main']) {

      <card-body [ngClass]="getCssGlass()">
        <div class="container flex text-white justify-around">
          <div class="left w-full z-1">
            <img [src]="imgSrc" class="max-w-32" alt="" />
          </div>
          <div class="right w-full flex flex-col justify-center">
            <div class="flex align-middle gap-3">
              <span class="text-4xl font-thin">
                {{ weatherData().main.temp | tempconvertor : temperature.unit }}
              </span>
              <span
                class="rounded-md bg-yellow-50 bg-opacity-10 px-2 py-1 text-lg font-medium text-yellow-600 ring-1 ring-inset ring-yellow-600/20 hover:cursor-pointer hover:bg-opacity-5"
                (click)="toggleUnit()"
                >{{ temperature.symbol }}</span
              >
            </div>
            <!-- location -->
            <span class="block font-bold"
              >{{ weatherData().name }},
              {{ weatherData().weather[0].description }}</span
            >
            <span class="block text -2xl text-sm">
              {{ weatherData().name }}
            </span>
          </div>
        </div>
      </card-body>

      }
      <card-footer> </card-footer>
    </app-card>
  </div>
</div>
<!-- <h1 class="text-3xl font-bold underline text-bluedark">
    Hello world!
  </h1> -->
