<div class="main-background">

    <div class="weather-card w-3/5" [ngClass]="getCssGlass()">

        
        <app-card>

            <card-title [ngClass]="getCssGlass()">
                <app-search></app-search>
            </card-title>


            <card-body [ngClass]="getCssGlass()">

                <div class="container flex text-white justify-around">
                    <div class="left w-full z-1">
                        <img [src]="imgSrc" class="max-w-32" alt="">
                    </div>
                    <div class="right w-full flex flex-col justify-center">
                        <span class=" block text-4xl font-thin">
                            21°C
                        </span>
                        <!-- location -->
                        <span class="block font-bold">Florida, USA</span>
                        <span class="block text
                        -2xl text-sm">
                            Sunny
                        </span>
                        
                    </div>
                </div>

            </card-body>
            <card-footer>

            </card-footer>
            
        </app-card>

    </div>

</div>
<!-- <h1 class="text-3xl font-bold underline text-bluedark">
    Hello world!
  </h1> -->