<input type="text" [(ngModel)]="city" (ngModelChange)="getLocation()" class="form-control">
<!-- Autocomplete html with tailwind -->
<div>
    @if (suggestions$().length > 0) {


        <ul class="mt-1 w-full absolute rounded-md shadow z-100">
            @for (item of suggestions$(); track $index) {
                
                <li class="p-2 ps-5 bg-gray-800 bg-opacity-50 rounded-xsa text-current text-sm font-bold border-b-1 hover:cursor-pointer hover:bg-opacity-60 off bg-blend-luminosity">{{ item.name +','+ item.country}}</li>

            }
        </ul>

    }
</div>

<!-- <ul *ngIf="filteredSuggestions$.value.length > 0" class="absolute top-full left-0 w-full bg-white rounded-md shadow-md mt-1 z-50">
    <li *ngFor="let suggestion of filteredSuggestions$.value" class="p-2 hover:bg-gray-100 cursor-pointer" (click)="onSelectionChange(suggestion)">
      {{ suggestion.label || suggestion.value }}
    </li>
  </ul> -->